.ActiveElementMenu,
.FourStateSwitcher,
.TwoStateSwitcher,
.DoorwayMenu,
.DimensionMenu,
.EditableField,
.ControlPointMenu{
	display: none;
	position: absolute;
	z-index: 90;
}

.ActiveElementMenu > div, .FourStateSwitcher > div, .DoorwayMenu > div,.TwoStateSwitcher > div,.DimensionMenu > div,.ControlPointMenu > div,
.ActiveElementMenu > a, .FourStateSwitcher > a, .DoorwayMenu > a, .TwoStateSwitcher > a, .DimensionMenu > a,.ControlPointMenu > a {
	position: absolute;
	display: block;
	width: 40px;
	height: 40px;
	border-radius: 40px;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
	background: #eff3f4 url(../img/new_menu2.svg);
  background-color: #FFE4B5;
}

.ActiveElementMenu > div[action="rotate"],
.FourStateSwitcher > div[action="rotate"],
.DoorwayMenu > div[action="rotate"]{
	cursor: move;
}

.ActiveElementMenu > div:hover,
.FourStateSwitcher > div:hover,
.DoorwayMenu > div:hover,
.TwoStateSwitcher > div:hover,
.DimensionMenu > div:hover,
.ControlPointMenu > div:hover,
.ActiveElementMenu > a:hover,
.FourStateSwitcher > a:hover,
.DoorwayMenu > a:hover,
.TwoStateSwitcher > a:hover,
.DimensionMenu > a:hover,
.ControlPointMenu > a:hover{
	background-color: #64b26d;
}

.ActiveElementMenuAnimated {
	-moz-transition: top 0.15s ease-out, left 0.15s ease-out, opacity 0.2s ease-out;
	-webkit-transition: top 0.15s ease-out, left 0.15s ease-out, opacity 0.2s ease-out;
	transition: top 0.15s ease-out, left 0.15s ease-out, opacity 0.2s ease-out;
}

.EditableField > button{
  padding: 0px 6px;
  font-size: 12px;
}

.EditableField > input {
    padding: 2px 0px;
    position: absolute;
    display: block;
    width: 65px;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    text-indent: 0;
    text-align: center;
    z-index: 90;
}

.dim-arrow.active {
  background-color: #64b26d;
}

nav input{
    padding: 2px 0px;
    position: absolute;
    display: block;
    width: 100px !important;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    text-indent: 0;
    text-align: center;
    z-index: 90;
}

.input-group[class*=col-] {
    float: none;
    padding-right: 0;
    padding-left: 0;
}

input[type=checkbox] {
    float: left;
    width: 20px !important;
}