.ActiveElementMenu, .DoorwaySwitcher, .DoorwayMenu {
	display: none;
	position: absolute;
	z-index: 90;
}

.ActiveElementMenu > div, .DoorwaySwitcher > div, .DoorwayMenu > div,
.ActiveElementMenu > a, .DoorwaySwitcher > a, .DoorwayMenu > a {
	position: absolute;
	display: block;
	width: 40px;
	height: 40px;
	border-radius: 40px;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
	background: #eff3f4 url(/img/new_menu.svg);
}

.ActiveElementMenu > div[action="rotate"],
.DoorwaySwitcher > div[action="rotate"],
.DoorwayMenu > div[action="rotate"]{
	cursor: move;
}

.ActiveElementMenu > div:hover, .DoorwaySwitcher > div:hover, .DoorwayMenu > div:hover,
.ActiveElementMenu > a:hover, .DoorwaySwitcher > a:hover, .DoorwayMenu > a:hover {
	background-color: #64b26d;
}

.ActiveElementMenuAnimated {
	-moz-transition: top 0.15s ease-out, left 0.15s ease-out, opacity 0.2s ease-out;
	-webkit-transition: top 0.15s ease-out, left 0.15s ease-out, opacity 0.2s ease-out;
	transition: top 0.15s ease-out, left 0.15s ease-out, opacity 0.2s ease-out;
}