.ActiveElementMenu,
.FourStateSwitcher,
.TwoStateSwitcher,
.DoorwayMenu,
.DimensionMenu,
.EditableField,
.ControlPointMenu{
	display: none;
	position: absolute;
	z-index: 90;
}

.ActiveElementMenu > div, .FourStateSwitcher > div, .DoorwayMenu > div,.TwoStateSwitcher > div,.DimensionMenu > div,.ControlPointMenu > div,
.ActiveElementMenu > a, .FourStateSwitcher > a, .DoorwayMenu > a, .TwoStateSwitcher > a, .DimensionMenu > a,.ControlPointMenu > a {
	position: absolute;
	display: block;
	width: 40px;
	height: 40px;
	border-radius: 40px;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
	background: #eff3f4 url(../img/new_menu2.svg);
  background-color: #FFE4B5;
}

.ActiveElementMenu > div[action="rotate"],
.FourStateSwitcher > div[action="rotate"],
.DoorwayMenu > div[action="rotate"]{
	cursor: move;
}

.ActiveElementMenu > div:hover,
.FourStateSwitcher > div:hover,
.DoorwayMenu > div:hover,
.TwoStateSwitcher > div:hover,
.DimensionMenu > div:hover,
.ControlPointMenu > div:hover,
.ActiveElementMenu > a:hover,
.FourStateSwitcher > a:hover,
.DoorwayMenu > a:hover,
.TwoStateSwitcher > a:hover,
.DimensionMenu > a:hover,
.ControlPointMenu > a:hover{
	background-color: #64b26d;
}

.ActiveElementMenuAnimated {
	-moz-transition: top 0.15s ease-out, left 0.15s ease-out, opacity 0.2s ease-out;
	-webkit-transition: top 0.15s ease-out, left 0.15s ease-out, opacity 0.2s ease-out;
	transition: top 0.15s ease-out, left 0.15s ease-out, opacity 0.2s ease-out;
}

.EditableField > button{
  padding: 0px 6px;
  font-size: 12px;
}

.EditableField > input {
    padding: 2px 0px;
    position: absolute;
    display: block;
    width: 65px;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    text-indent: 0;
    text-align: center;
    z-index: 90;
}

.dim-arrow.active {
  background-color: #64b26d;
  color: #fff;
}

nav input{
    padding: 2px 0px;
    position: absolute;
    display: block;
    width: 65px !important;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    text-indent: 0;
    text-align: center;
    z-index: 90;
}

.input-group[class*=col-] {
    height: 20px;
    float: none;
    padding-right: 0;
    padding-left: 0;
}

input.isEntryDoor{
  margin: 0;
}

input[type=checkbox] {
    float: left;
    width: 20px !important;
}

.btn-default {
    color: #015C99;
    background-color: #fff;
    border-color: #ccc;
}

.input-group span{
  color: #015C99;
}

.setting {
	-moz-transition: top 0.15s ease-out, left 0.15s ease-out, opacity 0.2s ease-out;
	-webkit-transition: top 0.15s ease-out, left 0.15s ease-out, opacity 0.2s ease-out;
	transition: top 0.15s ease-out, left 0.15s ease-out, opacity 0.2s ease-out;
}



/**/
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}
li a {
    background-color: #fff;
}



.dropdown-submenu>.dropdown-menu.dimension {
  top: -80%;
  left: -100%;
}


.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    color: #fff;
    background-color: #015C99;
}

.dropdown-menu>li>a {
    color: #015C99;
}

.btn-default.active, .btn-default:active, .btn-default:hover,  .btn-default:focus,  .open>.dropdown-toggle.btn-default:hover, .open>.dropdown-toggle.btn-default {
    color: #015C99;
}

.btn-default[action=cancel], .btn-default[action=exportJSON]{
  width: 80px;
  color: #fff;
  background-color: #015C99;
  padding-left: 2px
}

