html, body{
  display: flex;
  flex-direction: column;
  margin:0px;
  padding:0px;
  height:100%;
  overflow:auto;
}

.navbar {
    min-height: 34px;
} 

.mode2D {
  display: none;
}



.no-close .ui-dialog-titlebar-close {
  display: none;
}

.input-group-addon {
    padding: 6px 4px;
}
  p{
    display: block!important;
  }
/*.added_block_custom{
  background: red;
}

.added_block_custom span{
  display: block;
}

.added_block_custom input{
  display: inline-block;
}
*/
/*br{
  display: block!important;
}

*/