html, body{
  display: flex;
  flex-direction: column;
  margin:0px;
  padding:0px;
  height:100%;
  overflow:auto;
}

.navbar {
    min-height: 34px;
}

.mode2D {
  display: none;
}

.footer .btn-default:hover, .footer .btn-default:active, .footer .btn-default.active{
    color: #333;
    background-color: #317BB2;
    border-color: #adadad;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}